

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#dynamicChartContainer {
    height: 400px; 
    width: 80%; 
    margin-left: 10%;
    margin-right:10%;
}


#wrapper{
  width: 400px;
  height: 400px;
}
 
#meter{
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}














